body{
  background-color: lightgray;
}
.mySlides{display: none;}
img{vertical-align: middle;}


li{
  float: right;
  font-family: 'Rubik', sans-serif;
}
#couleur{
background-color: lightgray;
color: lightgray;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #5a5858;
  border-radius: 8px;
}

a {
  display: block;
  padding: 8px;
  background-color: transparent;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.logo{
  float : left
}
* {box-sizing:border-box}

* {box-sizing:border-box}


.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}


.mySlides {
display: none;
}

.prev{
left: 10%;
}
.next{
margin-right: 10%;
}
.prev, .next {
cursor: pointer;
position: absolute;
top: 180%;
width: auto;
margin-top: -22px;
padding: 16px;
color: #333333;
font-weight: bold;
font-size: 38px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}


.next {
right: 0;
border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}


.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: left;
font-family: 'Rubik', sans-serif;
cursor: pointer;

}



.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}
hr.rounded{
border-top: 3px solid rgb(25 27 33);
border-radius: 5px;
size: 10px;
margin-top: 5%;
}

.trending{
  color: white;
  font-family: 'Rubik', sans-serif;

}

.column{
  float: left;
  width: 16.665%;
  padding: 5px;
  cursor: pointer;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}

.A{
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
}
/**********/
body{
margin: 0% 0%;
padding: 0% 0%;
box-sizing: border-box;
font-family: 'Advent Pro', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

html {
scroll-behavior: smooth;
}


ul {
margin: 0;
padding: 0;
}
li {
list-style-type: none;

}
h2 {
text-transform: uppercase;
text-align: center;
padding-top: 40px;
font-size: 3em;
}
a {
text-decoration: none;
color: black;
}
/* ******************* NAVBAR ******************* */
.nav {
overflow: hidden;
position: fixed;
width: 100%;
opacity: 0.9;
background-color: #333131; 
z-index: 7; 
}
.header ul {
list-style-type: none;
}
.header li {
float: left;
}
.header li a {
text-decoration: none;
display: block;
padding: 18px 40px;
margin-bottom: 6.5%;
color: #ffffff ;
font-family: sans-serif;
font-size: 160%;
}
#title h1{
text-align: center;
font-size: 3em;
}
#title{
text-align: center;
margin-bottom: 8.5%;

}
.sous-titre li a{
text-decoration: none;
display: block;
padding: 18px 40px;
margin-bottom: 6.5%;
color: #000000 ;
font-family: sans-serif;
font-size: 160%;
position: absolute;
}
#vf{
right: 72%;
}
#vostfr{
right: 45.5%;

}
#plan{
right: 21%;
}
.sous-titre{
text-align: center;
}
#logo {
font-weight: bold;
float: left;
margin-left: 2.6%;
margin-top: 0.1%;
margin-right: 4%;
}

.ul1 li a:hover {
background-color: #5a5a5a;
color: #fff;
}



/* ******************* NAVBAR-burger ******************* */
.header__logo img {
max-height: 50px;
z-index: 7; 

}


.header__nav__menu {
padding: 0;
margin: 0;
list-style: none;
display: flex;
z-index: 7; 

}

.header__nav__menu__link {
margin-right: 20px;

}
.header__nav__menu__link h1 {
color: #fff;
margin-left: 80%;
font-size: 15px;
}
.header__nav__menu__link h3 {
color: #fff;
margin-left: 41%;
font-size: 15px;
}
.header__nav__menu__link h4 {
color: #fff;
margin-left: 49%;
font-size: 15px;
}

.sous_titre{
display: block;
}

.img_sous_texte{
position: absolute;
display: flex;
left: 25%;
margin-top: -2%;
}
.img_sous_textes{
position: absolute;
display: flex;
left: 38%;
margin-top: -1%;
top: 27.2%;
}

.header__nav__menu__link:last-of-type {
margin-right: initial;
}

.header__nav__menu__link a {
color: #fff;
font-family: 'Arial';
font-weight: 850;
text-decoration: none;
position: relative;
}

.header__nav__menu__link a:after {
content: '';
height: 2px;
background-color: #fff;
width: 0;
position: absolute;
bottom: -5px;
right: 0;
transition: 0.2s all ease-in-out;
}

.header__nav__menu__link a:hover:after {
width: 100%;
left: 0;
}

.header__burger {
display: none;

}

.header__burger svg {
stroke: #fff;
width: 70px;
height: 70px;
float: right;
right: 35px;
top: 12px;
position: absolute;
z-index: 7; 
position: fixed;

}

.header__nav__close {
display: none;
}

@media screen and (max-width: 10500px) {

.header__burger {
  display: block;
  cursor: pointer;
}


.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 8;

}

.header__nav.open {
  display: flex;
  animation: transformMenu 300ms ease-in-out forwards;
}

@keyframes transformMenu {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: initial;
  }
}

.header__nav__menu {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 15%;
}

.header__nav__menu__link {
  margin-right: 0;
  margin-bottom: 20px;
}

.header__nav__menu__link a {
  font-size: 40px;
  left: 8%;
}

.header__nav__close {
  display: block;
  cursor: pointer;
  
}

.header__nav__close svg {
  stroke: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.overlay-menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  display: none;
}

.overlay-menu-mobile.open {
  display: block;
}

}

/* **************** IMAGE PRINCIPALE ************* */
#imagePrincipale {
padding-top: 60px;
background: url(img/background/anime.png) no-repeat 50% 50%;
background-size: cover;
height: 899px;
}

#premierTrait {
height: 1px;
width: 25%;
margin: -3px auto;
background-color: #191b21;
box-shadow: 1px 3px 2px #191b21;
}
